<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsm.app.dao.BaseDao">
    <insert id="save" parameterType="java.util.HashMap">
        INSERT INTO ${TABLE_NAME} (
        <foreach collection="COLUMNS" item="item" index="index" separator=",">
            ${item}
        </foreach>
        ) VALUES (
        <foreach collection="VALUES" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </insert>
    <delete id="remove" parameterType="java.util.HashMap">
        DELETE FROM ${TABLE_NAME}
        <if test="${item} != null">
            where
            <foreach collection="COLUMNS" item="item" index="index" separator=",">
                ${item}
            </foreach>
        </if>
    </delete>
</mapper>